.credentials {
    flex: 2;
}

.labeled-input {
    width: 100%;
}

/* .labeled-input input {
    margin-top: 0.3rem;
} */

.credentials label {
    font-weight: 700;
    margin-bottom: 0.3rem;
    display: block;
}



