.profile-wrapper {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: .25rem;
    margin-top: 1rem;
    padding: 2rem 2.5rem;
    /* review later */
    height: 450px;
}

.profile-wrapper form {
    margin: 0 0 1rem;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.cred-control-panel button:nth-child(2) {
    margin-left: 0.3rem;
}

.forms {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

