.profile-wrapper {
    margin-top: 1rem;
    /* review later */
    height: 450px;
}

.profile-wrapper form {
    margin: 0 0 1rem;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.cred-control-panel button:nth-child(2) {
    margin-left: 0.3rem;
}

.forms {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

