.user-info-wrapper {
    flex: 2;
}

.user-info-list li {
    padding: 1.1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbbbbb;
}

.user-info-list li:last-child {
    border: none;
}

.user-info-list li span {
    font-weight: 600;
}

.user-info-wrapper label {
    text-transform: capitalize;
    font-weight: 600;
    display: block;
    margin-bottom: 0.3rem;
}

.separator {
    border-bottom: 1px solid #e5e5e5;
}