header {
    background-color: #1e8da9;
    padding: 0.5rem 0;
    color: whitesmoke;
    height: 65px;
}

.header_wrapper {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.controls {
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    header {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header_wrapper {
        display: inline-block;
        width: 100%;
    }

    .brand {
        text-align: center;
        padding-bottom: 0.8rem;
        border-bottom: 1px solid whitesmoke;
    }
}