html, body, #root, .App {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #282c34;
    background-color: whitesmoke;
}

main {
    margin: 0 10%;
    padding: 1rem 0;
    min-height: calc(100vh - 50px - 65px);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

form {
    margin: 0 30%;
}

.content-container {
    min-height: calc(100vh - 34px);
}

.main-nav .active {
    color: #293133;
}