html, body, #root, .App {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #282c34;
    background-color: whitesmoke;
}

main {
    margin: 0 10%;
    padding: 1rem 0;
    min-height: calc(100vh - 50px - 65px);
}

h1, h2, h3, h4 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    margin: 0 30%;
}

.main-nav .active {
    color: #293133;
}

.page-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

@media (max-width: 800px) {
    .page-title {
        text-align: center;
        margin-bottom: 2rem;
    }
    .page-heading {
        margin-bottom: 0;
    }
}

.card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: .25rem;
    padding: 2rem 2.5rem;
}

.main-msg {
    font-size: 1.2rem;
    color: #585858;
    margin: 1rem 0;
    text-align: center;
}

.danger {
    color: #dc3545;
}

.bg-danger {
    background-color: #dc3545;
}