.btn {
    padding: 0.5rem 1.5rem;
    border-radius: .25rem;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: ease-in-out .25s;
    font-family: inherit;
}

.btn_filled {
    background-color: #1e8da9;
    border: none;
    color: snow;
}

.btn_filled:hover {
    background-color: #dcaa35;
}

.btn_outlined {
    background-color: transparent;
    border: 1px solid #1e8da9;
    color: #1e8da9;
}

.btn_outlined:hover {
    border-color: #dcaa35;
    color: #dcaa35;
}