.input-wrapper {
    margin-bottom: 1.5rem;
}

.input {
    border-radius: .25rem;
    width: 100%;
    padding: 1rem;
    color: #333;
    border: 1px solid #bbbbbb;
}

.file-input-wrapper {
    margin-bottom: 1.5rem;
}

.file-input::file-selector-button {
    padding: 1rem;
    margin-right: 1rem;
    background-color: #e9e9e9;
    border: none;
    border-right: 1px solid #bbbbbb;
    color: #333;
}

.file-input {
    background-color: white;
    border-radius: .25rem;
    color: #1e8da9;
    width: 100%;
    border: 1px solid #bbbbbb;
}

.invalid-feedback {
    font-size: 12px;
    position: absolute;
    color: #dc3545;
}